<?xml version="1.0"?>
<launch>
  <arg name="map" default="berlin"/>
  <arg name="gui" default="true" />
  <arg name="rviz" default="true"/>

  <node name="map2stl_node" pkg="racecar_helper" type="map2stl.py" args="$(arg map)" output="screen"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find racecar_helper)/maps/$(arg map)/$(arg map).yaml" output="screen"/>

  <!-- Gazebo -->
  <include file="$(find racecar_gazebo)/launch/empty.launch">
    <arg name="world_name" value="$(find racecar_helper)/worlds/map.world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- RViz -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find racecar_helper)/rviz/default.rviz" required="true" output="screen"/>
  </group>

</launch>