<?xml version="1.0"?>
<launch>
  <arg name="robot_name" />
  <arg name="color" default="blue" />
  <arg name="init_x" default="0" />
  <arg name="init_y" default="0" />
  <arg name="teleop" default="false" />

  <!-- Static tf from map to /racecar/odom -->
  <include file="$(find racecar_gazebo)/launch/include/spawn_racecar.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="color" value="$(arg color)" />
    <arg name="init_x" value="$(arg init_x)" />
    <arg name="init_y" value="$(arg init_y)" />
  </include>

  <!-- Collision publisher -->
  <group ns="$(arg robot_name)">
    <node pkg="racecar_helper" type="collision_publisher_node" name="collision_publisher_node" output="screen">
      <param name="robot_name" value="$(arg robot_name)" />
    </node>
    <include file="$(find racecar_helper)/launch/includes/particle_filter.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>

  <group if="$(arg teleop)">
    <include file="$(find racecar_control)/launch/teleop.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>

</launch>