<?xml version="1.0"?>
<launch>
  <arg name="robot_name" />
  <arg name="color" default="blue" />
  <arg name="init_x" default="0" />
  <arg name="init_y" default="0" />

  <!-- Static tf from map to /racecar/odom -->
  <include file="$(find racecar_gazebo)/launch/include/spawn_racecar.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="color" value="$(arg color)" />
    <arg name="init_x" value="$(arg init_x)" />
    <arg name="init_y" value="$(arg init_y)" />
  </include>

  <!-- Collision publisher -->
  <group ns="$(arg robot_name)">
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /$(arg robot_name)/odom 100" />
    <node pkg="racecar_helper" type="collision_publisher_node" name="collision_publisher_node" output="screen">
      <param name="robot_name" value="$(arg robot_name)" />
    </node>
  </group>

</launch>